:root {
  --bordeaux: #5c0c15;
}

html {
  font-size: 14px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table,
th,
td {
  color: white;
  height: 40px;
}

table {
  width: 80%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 70px;
  background-color: black;
}

th,
td {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding: 0.5rem;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 2px solid white;
}

table tr th {
  border-top: 2px solid white;
}

table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

table tbody tr:hover td {
  background-color: rgba(132, 97, 97, 0.3);
}

tr:nth-child(odd) {
  background-color: var(--bordeaux);
}

tr:nth-child(even) {
  background-color: #5c0c15BB;
}

tr:first-child .arrows-tournaments {
  border-top: 2px solid white;
  border-top-right-radius: 10px;
}

.dropbtn {
  background-color: var(--bordeaux);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: white;
  border-top: 0cm;
  border-style: groove;
  text-align: center;
  text-shadow: 0 0 3px black, 0 0 5px black;
  margin-left: 4vw;
  position: absolute;
  width: 12vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  min-width: 80px;
  z-index: 1;
  left: 0;
  padding: 0;
  margin-left: 4vw;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  color: white;
  padding-top: 2vh;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s ease-out;
}

.dropdown-content a {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-top: 1vh;
  border-style: solid;
  border-color: white;
}

.dropdown-content a:first-child {
  margin-top: 1vh;
}

.dropdown-content a:hover {
  background-color: rgb(59, 59, 59);
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown:hover .dropbtn {
  background-color: rgb(132, 97, 97);
}

.dropdown-content.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.banner {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  min-width: 0vw;
  z-index: -1;
  place-items: center;
  top: 50%;
}

.view-all-button {
  background-color: var(--bordeaux);
  border-radius: 10px;
  padding: 1vh;
  border-color: white;
  color: white;
  border-style: groove;
  display: inline-block;
  text-align: center;
  text-shadow: 0 0 3px black, 0 0 5px black;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 60px;
  margin-top: 3vh;
}

.index-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.table-label {
  color: white;
  text-align: center;
  background-color: var(--bordeaux);
  width: fit-content;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.no-statistics {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  background-color: #333333;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 15px;
}

.nav-item {
  white-space: nowrap;
}

.error-message {
  display: none;
  font-size: 30px;
  color: white;
}

.dropdown-icon {
  margin-left: auto;
  font-size: 12px;
}

.popup-container {
  position: relative;
}

.popup-window {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  background-color: #bbbbbbEE;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 10;
  transform: scale(0) translateY(0); /* Start scaled down */
  transform-origin: left; /* Grow from the bottom-left corner */
  max-width: 70vw;
  max-height: calc(100vh - 20px);
  color: black;
  font-size: 10px;
  overflow: auto;
  top: 0;
  bottom: auto;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease; /* Smooth transition -200px */
}

.popup-container:hover .popup-window {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
  top: calc(50% - 200px);
  bottom: auto;
}

.popup-header {
  margin-left: 5px; 
  font-size: 15px; 
  background-color: #5c0c15; 
  width: fit-content; 
  padding-left: 10px; 
  padding-right: 10px; 
  border-radius: 10px; 
  color: white; 
  border: 2px solid white;
}

.popup-table {
  width: fit-content;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 5px;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 15px;
}

.popup-table th, .popup-table td {
  height: 10px;
  width: 10px;
  padding: 8px;
}

.popup-table tr {
  position: relative;
}

.hover-anchor {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.hover-anchor:hover {
  color: black;
}

@media (max-width: 500px) {
  .dropbtn {
    top: -4.5vh;
  }

  .dropdown-content a {
    margin-top: 0.5vh;
    border-width: 1.5px;
    box-sizing: border-box;
  }

  .dropdown-content a:first-child {
    margin-top: 1vh;
  }
}

@media (max-height: 700px) {
  .dropbtn {
    width: 92px;
  }
}

@media (max-width: 600px) {
  .view-all-button {
    margin-top: 4vh;
    height: 10vw;
  }

  .navbar-nav {
    justify-content: center;
    gap: 10px;
  }

  .index-table td,
  .index-table th {
    font-size: 9px;
  }

  .ranking-table td,
  .ranking-table th {
    font-size: 9px;
  }
}

@media (max-width: 1500px) {
  .dropbtn {
    top: -30.5px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .dropbtn {
    top: -35.5px;
  }
}

@media (min-aspect-ratio: 1.75/1) {
  .banner {
    height: auto;
    width: 100vw;
  }
}

/*Error message
body > *  {
  display: none;
}

.dropbtn {
  display: none;
}

.error-message {
  display: block;
}

*/