@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env

@using System;
@using System.IO;
@using SharedCode;

@{

    int selectedPhase = 0;

    if (Request.Query["selectedPhase"].Count > 0)
    {
        int.TryParse(Request.Query["selectedPhase"], out selectedPhase);
    }
    else
    {
        selectedPhase = @SharedFunctions.GetCurrentPhase();
    }

    StreamReader sr = new StreamReader(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Database", selectedPhase + "table.txt"));

    List<List<string>> content = new List<List<string>>();

    string? line;

    while ((line = sr.ReadLine()) != null)
    {
        string[] tarr = line.Split(";");

        if (line[0] == '0')
        {
            break;
        }

        for (int i = 0; i < tarr.Length; i += 10)
        {

            List<string> sublist = new List<string>();

            for (int j = 0; j < 10 && i + j < tarr.Length; j++)
            {
                sublist.Add(tarr[i + j]);
            }

            content.Add(sublist);
        }

    }

}

<style>

    @@media (max-width: 600px) {
        table td, table th {
            font-size: 9px;
        }
    }

</style>

<body>

    <img src="/index_banner.png" alt="Soccer Fans Celebrating" class="banner">

    <button type="button" class="view-all-button"
        onclick="location.href='/Tournaments?selectedPhase=@selectedPhase'"><u>Всички
            турнири</u>&rarr;</button>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Отб</th>
                <th>М</th>
                <th>П</th>
                <th>З</th>
                <th>Р</th>
                <th>ОГ</th>
                <th>ДГ</th>
                <th>Раз</th>
                <th>T</th>
                <th>Коеф</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < content.Count(); i++)
            {

                <tr>

                    <td>@(i + 1)</td>

                    @for (int j = 0; j < content[i].Count(); j++)
                    {

                        <td>
                            @content[i][j]
                        </td>

                    }

                </tr>

            }
        </tbody>
    </table>

</body>
