@page
@{
  ViewData["Title"] = "Голмайстори";
}

@using System.IO;

@using SharedCode

<body>

  <h2 class="table-label">Голмайстори</h2>

  @{

    int selectedPhase = SharedFunctions.GetSelectedPhase(Request, SharedFunctions.GetCurrentPhase());

    if (selectedPhase == 1)
    {
      <p class="no-statistics">Няма статистика за 1-ва фаза</p>
    }
    else
    {
      List<List<string>> content = SharedFunctions.ReadFile(selectedPhase, "goals.txt");

      for (int i = 0; i < content.Count; i++)
      {
        content[i].Add(Math.Round(float.Parse(content[i][4]) / float.Parse(content[i][3]), 2).ToString("F2"));
      }

      content = content.OrderByDescending(p => int.Parse(p[4])).ToList();

      <table class="ranking-table">
        <thead>
          <tr>
            <th>№</th>
            <th>Играч</th>
            <th>Отбор</th>
            <th>Участия</th>
            <th>Мачове</th>
            <th>Голове</th>
            <th>Ср на мач</th>
          </tr>
        </thead>
        <tbody>
          @for (int i = 0; i < content.Count(); i++)
          {

            <tr>

              <td>@(i + 1)</td>

              @{
                for (int j = 0; j < 6; j++)
                {
                  <td>
                    @content[i][j]
                  </td>
                }
              }

            </tr>

          }
        </tbody>
      </table>
    }
  }
  }
</body>
