@page
@{
  ViewData["Title"] = "Турнири";
}

@using System.IO
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment _env

@using SharedCode

@{

  List<List<string>> tournaments = new List<List<string>>();

  int selectedPhase = 0;

  void getTableContents()
  {
    if (Request.Query["selectedPhase"].Count > 0)
    {
      int.TryParse(Request.Query["selectedPhase"], out selectedPhase);
    }

    using (StreamReader sr = new StreamReader(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Database",
    selectedPhase + "tournaments.txt")))
    {
      string? line;
      while ((line = sr.ReadLine()) != null)
      {
        string[] tarr = line.Split(";");

        for (int i = 0; i < tarr.Length; i += 5)
        {
          List<string> sublist = new List<string>();

          for (int j = 0; j < 5 && i + j < tarr.Length; j++)
          {
            sublist.Add(tarr[i + j]);
          }

          tournaments.Add(sublist);
        }
      }
    }
  }

  getTableContents();
}

<h2 class="table-label">Турнири</h2>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Терен</th>
      <th>Победител</th>
    </tr>
  </thead>
  <tbody>

    @for (int i = 0; i < tournaments.Count() && tournaments[i][0] != "0"; i++)
    {

      <tr onclick="rowClicked(@i, @selectedPhase)">

        @for (int j = 0; j < tournaments[i].Count(); j++)
        {

          if (j == 0 || j >= 3)
          {
            if (j == 4 && tournaments[i][j] == "0")
            {
              <td>Предстои</td>
            }
            else
            {
              <td>@tournaments[i][j]</td>
            }
          }

        }

      </tr>

    }
  </tbody>
</table>

</tbody>
</table>
