@page
@{
  ViewData["Title"] = "Турнири";
}

@using System.IO
@using Microsoft.AspNetCore.Hosting

@using SharedCode

@{

  int selectedPhase = SharedFunctions.GetSelectedPhase(Request, SharedFunctions.GetCurrentPhase());

  List<List<string>> tournaments = SharedFunctions.ReadFile(selectedPhase, "tournaments.txt");

}

<body>

  <h2 class="table-label">Турнири</h2>

  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>Терен</th>
        <th>Победител</th>
      </tr>
    </thead>
    <tbody>

      @for (int i = 0; i < tournaments.Count() && tournaments[i][0] != "0"; i++)
      {

        <tr onclick="rowClicked(@i, @selectedPhase)" style="cursor: pointer;">

          @for (int j = 0; j < tournaments[i].Count(); j++)
          {

            if (j == 0 || j >= 3)
            {
              if (j == 4 && tournaments[i][j] == "0")
              {
                <td>Предстои</td>
              }
              else
              {
                <td>@tournaments[i][j]</td>
              }
            }

          }

          <td class="arrows-tournaments">&rarr;</td>

        </tr>

      }
    </tbody>
  </table>

  </tbody>
  </table>
</body>
